/* stylelint-disable selector-max-compound-selectors, max-nesting-depth, selector-class-pattern */
@import '../../../../styles/configs';

.button {
  border-radius: $border-radius;
  line-height: 1;
  transition: opacity $anim-time-fast, background-color $anim-time-fast,
    border-color $anim-time-fast, color $anim-time-fast;
  min-height: inherit;
  padding: 0 16px;
  width: 100%;

  &:active {
    opacity: 0.75;
  }

  &__content {
    align-items: center;
    display: inline-flex;
  }

  &_loading {
    pointer-events: none;
    cursor: default;

    &:hover {
      opacity: 1;
    }
  }

  &_color {
    &_secondary {
      background-color: var(--secondary);
      color: var(--secondaryContrastText);

      &.button_variant_outlined {
        background-color: transparent;
        border: 2px solid var(--secondary);
        color: var(--secondary);

        &:hover {
          background-color: var(--secondary);
          color: var(--secondaryContrastText);
        }
      }

      &.button_variant_contained {
        background-color: var(--secondary);
        box-shadow: $box-shadow-light;
        color: var(--secondaryContrastText);

        &:hover {
          background-color: var(--secondaryDark);
        }
      }
    }
  }

  &_disabled {
    pointer-events: none;
    opacity: 0.6;
    cursor: not-allowed;
  }

  &_padding {
    &_xs {
      padding: 0 16px;
    }

    &_sm {
      padding: 0 24px;
    }

    &_md {
      padding: 0 32px;
    }

    &_lg {
      padding: 0 40px;
    }
  }

  &_fontWeight {
    &_bold {
      font-weight: 700;
    }

    &_default {
      font-weight: initial;
    }
  }
}
